body {
    background-color: rgb(85, 47, 12);
    color: burlywood;
}

h1 {
    color: burlywood;
    font-size: 27px;
}
li{
    color: blanchedalmond;
}
#para2 {
    color: burlywood;
}
a {
    color: black;
}
a:hover{
    color: olive;
}

.container {
    background-color: darkolivegreen;
    padding: 0px;
    margin-top: 0px;
    width: 75%;
    border: 8px dashed rgb(85, 47, 12);
    box-sizing: border-box;
}
.container2 {
    background-color: darkolivegreen;
    padding: 0px;
    margin-top: 0px;
    width: 15%;
    border: 3px solid black;
    box-sizing: border-box;
}
img{
    padding: 0px;
    width: 20%;
    height: 20%;
    margin-left: 60%;
    margin-top: -60%;
}
